<div class="container col-md-6">
	<div class="card" style="float: left">
		<div class="card-header">
			<h3>Crear Reservas</h3>
		</div>
		<div class="card-body">
			<form action="">
				<div class="form-group">
					<label for="">cedula:</label>
					<input [(ngModel)]="reserva.cedula"
					name="nombre" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label for="">fecha de llegada:</label>
					<input [(ngModel)]="reserva.fechaLlegada"
					name="nombre" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label for="">fecha de salida:</label>
					<input [(ngModel)]="reserva.fechaSalida"
					name="nombre" type="text" class="form-control">
				</div>
				<div class="form-group">
					<label for="">Id Habitacion:</label>
					<input [(ngModel)]="reserva.idHabitacion"
					name="id-habitacion" type="text" class="form-control">
				</div>
				<button (click)="Guardar()" class="btn btn-danger">Guardar</button>
			</form>
		</div>
	</div>
	<div style="float:right">
		<app-add-huesped></app-add-huesped>
	</div>
	
</div>